{% ansible_managed %}

{% for item in stunnel_services -%}
[{{ service.name }}]
client = {{ service.client | default(no) }}
accept = {{ service.accept_host }}:{{ service.accept_port }}
connect = {{ service.connect_host }}:{{ service.connect_host }}
{% if service.other_options is defined -%}
{% for option, value in service.other_options.iteritems() -%}
{{ option }} = {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
